---
// /blog/ → /blog/1 へリダイレクト
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/blog/1" />
  <link rel="canonical" href="https://taka-techblog.com/blog/1" />
  <title>Blog | taka-techblog</title>
</head>
<body>
  <p><a href="/blog/1">ブログ一覧へ移動しています...</a></p>
</body>
</html>
