---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const tags = [...new Set(allPosts.flatMap((p) => p.data.tags))];
  return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const redirectUrl = `/blog/tags/${tag}/1`;
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <link rel="canonical" href={`https://taka-techblog.com${redirectUrl}`} />
    <title>リダイレクト中... | taka-techblog</title>
  </head>
  <body>
    <p><a href={redirectUrl}>移動しています...</a></p>
  </body>
</html>
